.DS_Store
stow/ssh/.ssh/config
stow/zsh/.zsh/config/env.zsh
stow/git/.config/git/work/config
stow/ghostty/.config/ghostty/settings.conf
stow/ghostty/.config/ghostty/theme.conf
stow/zsh/.zsh/config/platform.zsh
stow/scripts/.local/bin/mise
