.DS_Store
stow/ssh/.ssh/config
stow/zsh/.zsh/config/env.zsh
stow/git/.config/git/work/config
stow/ghostty/.config/ghostty/settings.conf
stow/ghostty/.config/ghostty/theme.conf
stow/zsh/.zsh/config/platform.zsh
stow/scripts/.local/bin/mise
stow/nvim/.config/nvim/lua/plugins/omarchy-theme-preload.lua
stow/nvim/.config/nvim/lua/plugins/theme.lua
stow/nvim/.config/nvim/lazy-lock.json
/stow/nvim/.config/nvim/parsers
stow/opencode/.config/opencode/package-lock.json
.opencode/package-lock.json
