[user]
  email = contact@peterszarvas.hu
  name = "Peter Szarvas"
  signingkey = ssh-ed25519 xxx # ssh public key

[commit]
  gpgSign = true

[tag]
  gpgSign = true

[gpg]
  format = ssh

[gpg "ssh"]
  program = ssh-keygen
