[core]
  editor = nvim
  filemode = false
  autoclrf = true

[alias]
  st = status
  cm = commit
  ca = commit --amend
  lg = log --decorate --graph --oneline
  br = branch
  bd = branch -D
  bm = branch -M
  ch = checkout
  cb = checkout -b
  wt = worktree

[init]
  defaultBranch = main

[merge]
  tool = nvimdiff

[mergetool "nvimdiff"]
  cmd = nvim -d "$LOCAL" "$BASE" "$REMOTE" "$MERGED" \
    -c 'set wrap' -c 'wincmd w' \
    -c 'set wrap' -c 'wincmd J' -c 'wincmd w' -c 'wincmd w' \
    -c 'set wrap' -c 'wincmd w' \
    -c 'set wrap'
  trustExitCode = false

[difftool]
  tool = nvimdiff

[difftool "nvimdiff"]
  cmd = nvim -d "$LOCAL" "$REMOTE" -c 'set wrap' -c 'wincmd w' -c 'set wrap'

[includeIf "gitdir:~/projects/"]
  path = ~/projects/dots/resources/git/personal/.gitconfig

[includeIf "gitdir:~/projects/"]
  path = ~/projects/dots/resources/git/personal/.gitSign

[includeIf "gitdir:~/work/"]
  path = ~/projects/dots/resources/git/work/.gitconfig
