@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border-radius: 0;
  min-height: 0;
  font-family: 'Berkeley Mono';
  font-size: 12px;
}

*:not(window) {
  border: none;
}

window#waybar.top {
  background-color: @background;
}

window#waybar.top > box {
  border: 2px solid @foreground;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  color: @foreground;
  font-family: 'Berkeley Mono';
  font-size: 12px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.active,
#workspaces button.active * {
  background-color: @foreground;
  color: @background;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-update,
#clock,
#custom-weather {
  min-width: 12px;
  margin: 0 7.5px;
}


#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}


tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#custom-weather.unavailable {
  min-width: 0;
  margin: 0;
  padding: 0;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator,
#custom-idle-indicator,
#custom-notification-silencing-indicator {
  min-width: 12px;
  margin-left: 5px;
  margin-right: 0;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}
